Objectives:
-Practice writing functions and looping over dictionaries
-Better understand how to traverse through a list of dictionaries or through a dictionary of list

1.) How would you change the value 10 in x to 15?  Once you're done x should then be [ [5,2,3], [15,8,9] ]

In [3]:
x = [ [5,2,3], [10,8,9] ] 
heros = [{'real_name':  'Bruce Wayne', 'hero_name' : 'Batman'}, {'real_name' : 'Tony Stark', 'hero_name' : 'Ironman'}]
franchise = {
    'dc' : ['Batman', 'Aquaman', 'Wonder Woman', 'Superman'],
    'marvel' : ['Hulk', 'Thor', 'Black Widow']
}
z = [ {'x': 10, 'y': 20} ]



#Answer
x[1][0] = 15
print(x)

[[5, 2, 3], [15, 8, 9]]

2.) How would you change the hero_name of the first hero from 'Batman' to "Dark Knight"?

In [4]:
x = [ [5,2,3], [10,8,9] ] 
heros = [{'real_name':  'Bruce Wayne', 'hero_name' : 'Batman'}, {'real_name' : 'Tony Stark', 'hero_name' : 'Ironman'}]
franchise = {
    'dc' : ['Batman', 'Aquaman', 'Wonder Woman', 'Superman'],
    'marvel' : ['Hulk', 'Thor', 'Black Widow']
}
z = [ {'x': 10, 'y': 20} ]


#Answer
heros[0]['hero_name'] = 'Dark Knight'
print(heros)

[{'real_name': 'Bruce Wayne', 'hero_name': 'Dark Knight'}, {'real_name': 'Tony Stark', 'hero_name': 'Ironman'}]

3.) For the franchise dictionary, how would you change 'Aquaman' to 'Daredevil'?

In [5]:
x = [ [5,2,3], [10,8,9] ] 
heros = [{'real_name':  'Bruce Wayne', 'hero_name' : 'Batman'}, {'real_name' : 'Tony Stark', 'hero_name' : 'Ironman'}]
franchise = {
    'dc' : ['Batman', 'Aquaman', 'Wonder Woman', 'Superman'],
    'marvel' : ['Hulk', 'Thor', 'Black Widow']
}
z = [ {'x': 10, 'y': 20} ]

#Answers
franchise['dc'][1] = 'Daredevil'
print(franchise)

{'dc': ['Batman', 'Daredevil', 'Wonder Woman', 'Superman'], 'marvel': ['Hulk', 'Thor', 'Black Widow']}

4.) For z, how would you change the value 20 to 30?

In [6]:
x = [ [5,2,3], [10,8,9] ] 
heros = [{'real_name':  'Bruce Wayne', 'hero_name' : 'Batman'}, {'real_name' : 'Tony Stark', 'hero_name' : 'Ironman'}]
franchise = {
    'dc' : ['Batman', 'Aquaman', 'Wonder Woman', 'Superman'],
    'marvel' : ['Hulk', 'Thor', 'Black Widow']
}
z = [ {'x': 10, 'y': 20} ]

#Answer
z[0]['y'] = 30
print(z)

[{'x': 10, 'y': 30}]

5.) Create a function that given a list of dictionaries, it loops through each dictionary in the list and prints each key and the associated value.

Given the list below, expected iterateDictionary(superheros) should output should be:

real_name - Steve Rogers, hero_name - Captain America
real_name - Barry Allan, hero_name - The Flash
real_name - Bruce Banner, hero_name - The Incredible Hulk 
real_name - Diana Prince, hero_name - Wonder Woman

In [9]:
superheros = [
    {'real_name': 'Steve Rogers', 'hero_name': 'Captain America'},
    {'real_name': 'Barry Allan', 'hero_name': 'The Flash'},
    {'real_name': 'Bruce Banner', 'hero_name': 'The Incredible Hulk'},
    {'real_name': 'Diana Prince', 'hero_name': 'Wonder Woman'}
]

#Write Function
def iterateDictionary(heros):
    for hero in heros:
        print('real_name - ' + hero['real_name'] + ', hero_name - ' + hero['hero_name'])
        
iterateDictionary(superheros)

real_name - Steve Rogers, hero_name - Captain America
real_name - Barry Allan, hero_name - The Flash
real_name - Bruce Banner, hero_name - The Incredible Hulk
real_name - Diana Prince, hero_name - Wonder Woman

6.) Create a function that prints the name of each disney and pixar movie and also how many movies each category currently has. (Note the output Formatting)
Expected Output:

7 DISNEY
- Cinderella
- Encanto
- Little Mermaid
- Tangled
- Beauty & The Beast
- Lion King
- 101 Dalmations

8 PIXAR
-Toy Story
-Monsters, Inc.
-Up
-Finding Nemo
-Coco
-Wall-E
-The Incredibles
-Inside Out

In [15]:
movie_collection = {
    'disney': ['Cinderella', 'Encanto', 'Little Mermaid', 'Tangled', 'Beauty & The Beast', 'Lion King', '101 Dalmations'],
    'pixar': ['Toy Story', 'Monsters, Inc.', 'Up', 'Finding Nemo', 'Coco', 'Wall-E', 'The Incredibles', 'Inside Out']
}

#Write Function
def movie_list(dict):
    for company in dict:
        print(str(len(dict[company])) + " " + company.upper())
        for movie_name in dict[company]:
            if company == list(dict)[0]:
                print("- " + movie_name)
            else:
                print("-" + movie_name)

movie_list(movie_collection)

7 DISNEY
- Cinderella
- Encanto
- Little Mermaid
- Tangled
- Beauty & The Beast
- Lion King
- 101 Dalmations
8 PIXAR
-Toy Story
-Monsters, Inc.
-Up
-Finding Nemo
-Coco
-Wall-E
-The Incredibles
-Inside Out